.navbar-dashboard {
		width: 100%;
		background: white;
	border-bottom: 1px solid #eee;

}

.navbar-sub-dashboard {
	border-bottom: 1px solid #eee;

}

.dashboard {
	background: #F8F7F7;
}

.jumbotron {
	max-width: 70%;
}

.sidebar {
	height: 100vh;
	border-right: 2px solid #F5F5F5;
}

.fa {
	color: #997CEC;
	font-size: 1.5em !important;
}

.sidebar a.nav-link {
	color: #949494;
	font-weight: 100;
}

/* Settings */

.container-settings-color {
	background: #FFF;
	border: 2px solid #F5F5F5;
}

.container-settings-color .form-control {
	max-width: 20%;
}

/* Buttons */

.btn-orange {
	background: #FA9E9C;
}

.active {
	background: #E5D4E4;
}


/* Ttitles */

.title-header {
	border-bottom: 2px solid #F5F5F5;
}