.navbar-dashboard {
		width: 100%;
		background: white;
	border-bottom: 1px solid #eee;

}

.navbar-sub-dashboard {
	border-bottom: 1px solid #eee;

}

.dashboard {
	background: #000;
}

.jumbotron {
	max-width: 70%;
}

.sidebar {
}

.sidebar-height {
	height: 90vh;
	border-right: 1px solid #eee;
}