<nav class="navbar navbar-expand-lg navbar-dashboard">
    <%= link_to 'Familly Cloud', root_path, class: 'navbar-brand' %>
    <ul class="nav ml-auto">
      <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, class: "nav-link", method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
      <% end %>       
      </li>
      <li class="nav-item">
        <%= link_to 'My Settings', edit_user_registration_path, class: "nav-link" %>
      </li>
    </ul>
</nav>


