<div class="sidebar-height">
<ul class="nav sidebar">

    <li class="nav-item pt-3">
    <% if user_signed_in? and current_user.teams.exists? %>
        <%= link_to 'My Team',  team_contacts_path(@team), class: "nav-link" %>  
    <% end %>
    </li>

    <li class="nav-item pt-3">
      <%= link_to 'Contacts',  team_team_users_path(@team) %>
    </li>
    

    <li class="nav-item pt-3">
      <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>
 Personal</a>     
    </li>
    <li class="nav-item pt-3">
      <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>
Financial Accounts</a>     
    </li>
    <li class="nav-item pt-3">
      <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>
Financial Papers</a>     
    </li>
    <li class="nav-item pt-3">
      <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>
Medical & Insurance</a>     
    </li>
    <li class="nav-item pt-3">
      <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>
Personal Documents</a>     
    </li>
</ul>
</div>