<nav class="navbar navbar-light sticky-top navbar-sub-dashboard">
 
 <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Sign In', new_user_session_path %>
      </li>
    </ul>

</nav>